<div class="edit-image">
  <%= image_tag @image.attachment.url(:original) %>

  <%= form_for @image, :url =>  admin_medium_path(@image) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <p><%= f.submit "Update" %></p>
  <% end %>
</div>

<script>
  var imagePreviewWidth = $('.edit-image img').width()
  var ratio = <%= @image.file_geometry(:original).width %> / imagePreviewWidth;
  console.log("ratio is "+ratio);

  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
  
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }

  jQuery(function($) {

    var crop_x = <%= @image.crop_x %> / ratio;
    var crop_y = <%= @image.crop_y %> / ratio;
    var crop_w = <%= @image.crop_w %> / ratio;
    var crop_h = <%= @image.crop_h %> / ratio;


    $('.edit-image img').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: (crop_w != 0 && crop_h != 0) ? [crop_x, crop_y, crop_x + crop_w, crop_y + crop_h] : null
    });
  });
</script>