<% content_for :page_title do %>
  <%= Spree.t(:listing_images) %>
<% end %>

<% content_for :page_actions do %>
  <li id="upload-images">
    <input id="media-upload" type="file" name="image[attachment]" data-url="<%= api_images_path %>" multiple>
    <div class="upload-progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </li>
<% end if can?(:create, Spree::Product) %>

<div class="images">
  <% @images.each do |image| %>
    <div class="image">
      <div class="toolbar">
        <a href="#" class="button delete" data-path="<%= api_image_path(image) %>">&times;</a>
      </div>
    	<%= link_to image_tag(image.attachment.url(:large)), edit_admin_medium_path(image) %>
    	<div class="meta">
    	  <h3 class="name"><%= link_to image.attachment_file_name, edit_admin_medium_path(image) %></h3>         
    	</div>

    	<% if image.viewable %>
    	  <div class="viewable-info">
	    	  <div class="viewable-type">Assigned to <%= image.viewable.class %></div>
	    	  <div class="viewable-name"><%= link_to image.viewable.name, image.viewable.product %></div>
	    	</div>
	    <% end %>

	    <div class="admin-buttons"></div>
    </div>
  <% end %>
</div>